<%= form_for(@group, url: {controller: 'groups'}) do |f|  %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this extern from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :students %><br>
    <%= f.select :students, options_for_select(@student_list) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
