<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @group.subject %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @group.mark %>
</p>
<p>
  <strong>Work:</strong>
  <%= @group.work %>
</p>


<p>
  <strong>Students:</strong>
  <% @group.students.each do |s|  %>
  <p><%= @group.firstname %> <%= @group.lastname %></p>
  <% end %> 
</p>
<%= form_tag(controller: 'groups', action: 'submit_mark', method: "post") do %>
    <%= number_field_tag(:mark) %>
    <%= submit_tag("Add mark") %>
<% end %>
<%= form_tag(controller: 'groups', action: 'submit_work', method: "post") do %>
    <%= text_area_tag(:work) %>
    <%= submit_tag("Add work") %>
<% end %>
<%= link_to 'Back', course_groups_path(@course) %>
